<h2 class="heading-title">How does it<span>Work</span></h2>

<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_1.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Create an account</h3>
        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->
<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_2.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Search, filter movies</h3>
        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->
<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_3.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Choose movies to get notified</h3>
        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->
<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_4.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Be the first who knows</h3>
        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->
<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_5.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Enjoy the movies</h3>
        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->